/* HERO */
.about-hero{
    height: 70vh;
    background:
        linear-gradient(
            rgba(0,0,0,.5),
            rgba(0,0,0,.5)
        ),
        url('https://images.unsplash.com/photo-1483985988355-763728e1935b');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.about-overlay h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-overlay p{
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.hero-title .char{
    display: inline-block;
}

/* CONTENIDO */
.about-content-page{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    padding: 90px 8%;
}

.about-text{
    flex: 1;
}

.about-text h2{
    font-size: 42px;
    margin-bottom: 25px;
    color: #111;
}

.about-text p{
    font-size: 18px;
    line-height: 1.9;
    color: #555;
    text-align: justify;
}

.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img{
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}